html,
body {
    margin: 0;
    padding: 0;
    // font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}
html{
  scroll-behavior: smooth;
}

h1,
h2, h3, h4, p {
    margin: 0;
    font-style: normal;
}

h2 {
    font-size: 2rem;
}

p {
    margin-bottom: 0 !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    border: 0;
    border-bottom: 1px solid #eaeaea;
    overflow: visible;
}

ul {
    padding: 0;
    li {
        list-style: none;
    }
}

ul.list-bullet li {
    list-style: disc;
}

.border-b {
    border-bottom: 1px solid #333;
}

.box {
    border-bottom: 1px solid #333;
}

.introduction {
    height: 50vh;
}
.container--icons {
    overflow: hidden;
    text-align:right;
    padding: 0 1rem;
}
.container--icons:before {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 90%;
    right: 0.5rem;

}
.todo-box {
    background: rgba( 255, 255, 255, 0.10 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.todo-checkbox {
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid #E0E0E0;

    cursor: pointer;
    position: relative;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    &:hover {
        background-color: rgba($color: #000000, $alpha: 0.1);
    }
}

.todo-checkbox.checked {
    border: 1px solid #FFC107;
    background-color: #FFC107;
}
.todo-checkbox.checked::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 12px;
    background-color:#fff;
    left: 12px;
    top: 5px;
}

.todo-checkbox.checked::after {
    content:"";
    position: absolute;
    width: 8px;
    height: 3px;
    background-color:#fff;
    left: 7px;
    top: 14px;
}

.anime-background {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    width: 800px;
    height: 450px;
    background: rgb(68, 83, 150);
}

.rotate {
    width: 100px;
    height: 200px;
    background: salmon;
}

.box--container {
    width: 400px;
    z-index: 100;

}

.bar{
    width: 0px;
    height: 20px;
    background:rgb(255, 147, 190);
    position: relative;
}

h1.xlarge {
    font-size: 5rem;
    line-height: 1 !important;
}

.lists {
    padding: 2rem 0;
}
// .theme--light.v-expansion-panels .v-expansion-panel {
//     border: 1px solid salmon;
//     border-radius: 0;
// }

.theme--dark.v-expansion-panels .v-expansion-panel {
    padding: 1.5rem 1rem;
}

.v-expansion-panel::before {
    box-shadow: none;
}

.menu-link {
    color: salmon;
}

.heading {
    font-size: 72px;
    line-height: 1.2;
    font-weight: normal;
}

.grid {
    display: grid;
    grid-template-columns: 18% 1fr 18%;
    grid-template-rows: 70px 1fr auto;
    padding: 0 1rem;
}

.article_body {
    height: 100%;
    margin-top: 20px;
    grid-area: 2/2/3/3;

    p {
        line-height: 1.8;
    }

    img {
        width: 100%;
        height: auto;
        margin: 1rem 0;
    }
}

.article_sidebar-container {
    grid-area: 2/1/4/2;
    margin: 0;
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
    top: 30%;
    width: 90%;
    max-width: 120px;
    padding: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.article_sidebar {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    text-align: center;

    img {
        margin-bottom: 8px;
    }

    ul {
        width: 100%;
        display: block;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            // width: 30%;
            &:nth-child(2) {
                margin: 0 4px;
            }
        }

        a {
            color: salmon;
            font-size: 20px;
            &:hover {
                color: grey;
            }
        }
    }
}

.article_footer {
    grid-area: 3/2/4/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0 3rem;
}

.d-flex {
    display: flex;
    align-items: top;

    img {
        margin-right: 2rem;
    }
}

.thumb--large {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.item-done {
    text-decoration: line-through;
}

ul.tasks-list {
    li:nth-child(n+2) {
        border-top: thin solid rgba(0, 0, 0, 0.12);
    }
}

.profile_link {
    text-decoration: none;
    padding: 4rem 0 2rem 0;
    width: 100%;
    // &:hover {
    //     background:rgba(255, 173, 206, 0.8)
    // }

}

.links {
    // position: fixed;
    // bottom: 20%;
    // right: 0;
    width: 150px;
    background:rgb(49, 213, 107);
    float: right;
    padding: 0.5rem 1rem 0.5rem 2rem;
    border: 2px solid #333;
    font-size: 24px;
    text-align: right;
    a {
        text-decoration: none;
        padding: 0.3rem 0.5rem;
        &:hover {
            background: yellow;
        }
    }
}

.title-home {
    margin: 6rem 0 2rem 0;
}
.skill-box {
    padding: 2rem;
    border: 1px solid #ffd54f;
    flex: 1 0;
}

@media screen and (max-width: 420px) {
    .skill-box {
        width: 100%
    }
}
@media screen and (min-width: 780px) {
    .skill-box:nth-child(2) {
        margin: 0 1rem;
    }
}
#blog-body {
    line-height: 1.9;
}
.article-container {
    width: 100%;
    max-width: 720px;
    height: 100%;
    margin: 0 auto 3rem auto;
}


pre {
    background: #333;
    white-space: pre;
    word-wrap: break-word;
    overflow: auto;
    padding: 1rem;
}

pre code {
    border-radius: 4px;
    position: relative;
    color: #fff !important;
    background-color: transparent !important;
    padding: 0
}
